* {
    transition: ease-in-out 0.15s;
}

html {
    scroll-behavior: smooth;
}

// Ange bakgrund för hela sidan
body {
    background-color: $background;
}

// Sidhuvud
header {
    background-color: brown;
    z-index: 1000;
    position: absolute;
    height: fit-content;
    width: 100%;
}

// Huvudmenyn
nav {
    display: flex;
    flex-direction: column;
    z-index: 1000;
    position: fixed;
    top: 50px;
    right: 50px;
    background: $background;
    padding-top: 0;
    padding-left: 3%;
    padding-right: 0;
    padding-bottom: 3%;
    width: fit-content;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 1px grey;

    // Menyknapp
    button {
        background: none;
        border: none;
        width: 75px;
        height: 75px;
        align-self: flex-end;
        border-radius: 25px;

        img {
            width: 75px;
            height: 75px;
        }

        &:hover {
            cursor: pointer;
            //box-shadow: 0px 0px 15px 1px $primarycolor;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 35px;
        margin-right: 75px;
        list-style-type: none;
        height: 125px;
        width: fit-content;
    }
    

    a {
        color: $textcolor;
        font-size: 1.2rem;
        font-weight: 500;

        &:hover {
            color: $primarycolor;
        }
    }
}

main {
    width: 100%;
    margin: auto;
}

// Allmänt för sektioner
section {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin-top: 150px;
}

// Herosektion
#hero {
    display: flex;
    justify-content: flex-start;
    height: 50vh;
    max-width: 1100px;
    margin: auto;

    .herotextdiv {
        align-self: center;
        max-width: 350px;

        h1 {
            font-size: 6rem;
            font-weight: 300;
        }

        h2 {
            font-size: 2rem;
            font-weight: 200;
            color: #C2C2C2;
        }
    }

    .heroimgdiv {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        margin-left: 10%;
        width: 60vw;
        min-width: 500px;
        max-width: 1200px;
        height: fit-content;
        top: 10%;
        right: 0;
        overflow:hidden;

        .heroimgdivcontainer {
            display: flex;
            align-items: center;
            transform: rotate(45deg);
            margin-top: 10%;

            .heroimgdivcolumn {
                display: flex;
                flex-direction: column;
                margin: 10px;

                img {
                    width: 11vw;
                    height: 19vw;
                    max-width: 250px;
                    max-height: 400px;
                    border-radius: 25px;
                    background-color: $primarycolor;
                    margin: 10px 0;
                }
            }
        }
    }
}

// Portfoliosektion
#portfolio {
    margin-top: 60px;
    h1 {
        font-size: 3.5rem;
        font-weight: 200;
    }
    #websitescontainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .websitediv {
            background: $primarycolor;
            border-radius: 25px;
            width: 450px;
            height: 450px;
            margin: 100px 0;

            .websiteimg {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 25px;
            }
        }
    }
}

// CV-sektion
#cv {
    .studempdiv {
        display: flex;
        justify-content: space-evenly;
    }
    h1 {
        font-size: 3.5rem;
        font-weight: 200;
        margin-bottom: 100px;
    }

    h2 {
        font-weight: 300;
        margin-bottom: 50px;
    }

    #studiescontainer {
        div {
            margin-bottom: 45px;
        }
    }
}

// Kontaktsektion
#contact {
    .container {
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        font-size: 3.5rem;
        font-weight: 200;
    }
    .contactdiv {
        margin-top: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .contactdiv p {
        font-size: 2rem;
        margin-right: 0.25em;
    }
    a {

        font-size: 1.5rem;
    }
}
