// Importera typsnitt
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

// Ange standardtypsnitt för allt
* {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, li {
    color: $textcolor;
}

a {
    color: $linkcolor;
}